body {
    margin: 0px;
}

/* HEADER */

    header {
        background-color: rgb(64, 61, 61);
        color: aliceblue;
        padding: 0.50em;
        font-size: 1em;

        position: fixed;
        top: 0px;
        width: calc(100% - 1em);
        z-index: 1;
    }

    header img {
        height: 1em;
    }

    a {
        color: aliceblue;
        text-decoration: none;
    }

    ul {
        padding: 0px;
        margin: 0px;
    }

    ul li {
        display: inline;
    }

    nav {
        float: right;
    }


/* HOME */

    #home {
        margin-top: 2em;
        min-height: 100vh;
        background-image: url('./../img/notebook.avif');
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        color: aliceblue;

        position: relative;
    }

    h1 {
        margin: 0px;
        font-size: 4em;

        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    #home > div {
        width: 400px;

        position: absolute;
        bottom: 50px;
        right: 50px;
    }

/* EQUIPO */

    #equipo {
        background-image: linear-gradient(to right, rgb(123, 23, 23), #445511, green, violet);
        padding: 20px;
    }

    #equipo h2 {
        text-align: center;
    }

    #equipo-container {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
    }

    #equipo-container > div {
        flex-basis: 200px;

        border: 1px solid black;
        text-align: center;
        margin: 10px;
    }

    #equipo-container > div > img {
        max-width: 100%;
    }

