* {
    color: blueviolet;
}

h1 {
    color: #4b33c588;
}

section h2 {
    color: rgba(172, 55, 5, 0.654) !important;
}

#titulo-seccion-11 {
    color: blue;
}

.titulo-secundario {
    color: beige;
}

.grande {
    font-size: 5em;
}